service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function hasRole(role) {
      return request.auth.token.role == role;
    }

    function userOwnsResource(userId) {
        return request.auth.uid == userId;
    }

    match /Users/{userId} {
      // allow user to read, admin to write
      allow read: if isSignedIn() && (userOwnsResource(userId) || isAdmin())
      allow write: if isSignedIn() && (userOwnsResource(userId) || isAdmin())
    }

    match /Images/{imageId} {
      // allow owner to read
      // allow anyone to write
      allow read: if isSignedIn() && (isAdmin() || userOwnsResource(get(/databases/$(database)/documents/Images/$(imageId)).owner))
      allow write: if isSignedIn() && (isAdmin() || userOwnsResource(get(/databases/$(database)/documents/Images/$(imageId)).owner))
    }

    match /Logs/{logId} {
      allow read, write: if isSignedIn() && isAdmin()
    }
  }
}
